/* testing */

.blog-flex-container{
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;

}


/* testing */



/* Article group posts design */
.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
}

.main-title {
  padding: 5px;
}

.title {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.blog-article {
  grid-column-start: 1;
}

.recent-article img {
  max-width: 100%;
}

.blog-article p {
  font-size: 14px;
  color: #34384d;
  line-height: 1.5;
  padding-left: 10px;
  padding-bottom: 10px;
}

.article-title {
  padding: 10px;
}
.blog-main-img {
  width: 80vh;
}

.recent {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.recent-img {
  width: 400px;
  height: 150px;
  margin-bottom: 20px;
}

.recent-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.author-img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.author-name {
  font-size: 12px;
  font-weight: bold;
}

/* media queries */

@media screen and (max-width: 930px) {
  .blog-container {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 18px;
  }

  .article-content {
    font-size: 14px;
  }
}

/* Article group posts design  */
